<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a href="/">
                    <img src="/public/img/Rafa.jpg" class="foto" alt="" />
                </a>
                </br>
                {{ site.title }}
            </h1>
        </div>
        <p class="lead">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item{% if page.title == " Home " %} active{% endif %}">
                </li>
                <li class="sidebar-nav-item"><a href="/artigos.md">Artigos</a> 
                </li>
                <li class="sidebar-nav-item"><a href="/blog/index.html">Blog</a>
                </li>
                <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">Projetos</a>
                </li>
                <li class="sidebar-nav-item"><a href="/sociais.md">Sociais</a>
                </li>
            </ul>
        </p>
        </br>
        <p class="lead">{{ site.description }}</p>
    </div>
</div>