<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about" style="text-align:center;">
            <h1>
                <a href="/">
                   {% if page.title == "Home" %}
                    <img src="https://s.gravatar.com/avatar/4076eea5db102b1f1a224e8d2e0323f4?s=200" class="foto" alt="Foto do perfil" />
                   {% else %}
                     <img src="/public/img/Rafa.jpg" class="foto" alt="Foto do perfil" />
                    {% endif %}
                </a>
                <br />
                {{ site.title }}
            </h1>
        </div>
        <p class="lead">
            <ul class="sidebar-nav" style="text-align:center;">
                <li class="sidebar-nav-item{% if page.title == " Home " %} active {% endif %}">
                </li>
                <li class="sidebar-nav-item"><a href="/blog/index.html">Blog</a> </li>
                <li class="sidebar-nav-item"><a href="/presentations/">Apresentações</a> </li>
                <li class="sidebar-nav-item"><a href="/certificates/">Certificados</a> </li>
                <li class="sidebar-nav-item"><a href="/events/">Eventos</a> </li>
                <li class="sidebar-nav-item"><a href="/projects/index.html">Projetos</a> </li>
                <li class="sidebar-nav-item"><a href="/shelf/">Leituras e Cursos</a> </li>
                <!--  <li class="sidebar-nav-item"><a href="/social/">Na Web</a>
                </li> -->
                <!-- MENU 'DINAMICO'
                {% comment %} Barra lateral {% endcomment %} 
                {% assign pages_list = site.pages %} 
                {% for node in pages_list %} 
                {% if node.title != null %} 
                {% if node.layout == "page" %} 
                {% if node.title != "Apresentações" %}
                
                <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                    <a href="{{ node.url }}">{{ node.title }}</a>
                </li>
                {% endif %} {% endif %} {% endif %} {% endfor %}
                -->

            </ul>
        </p>
        <p class="lead">
            <!-- <a href="https://rafaeltavares.branded.me/" rel="soc globe"><i class="soc_32 ico globe32"></i></a>
            <a href="mailto:rafaeltavaresandrade@gmail.com"><i class="soc email32"></i></a> -->
            <div class="col-sm-2 col-md-2 col-lg-2">
                <a href="https://www.facebook.com/rafael.tavares.andrade"><i class="soc_32 facebook32"></i></a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <a href="https://twitter.com/rafasmusic"><i class="soc_32 twitter32"></i></a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <a href="https://plus.google.com/+RafaelTavaresAndrade"><i class="soc_32 google-plus32"></i></a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <a href="https://github.com/rafastavares"><i class="soc_32 github32"></i></a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <a href="http://feeds.feedburner.com/RafasTavares" rel="soc feed"><i class="soc_32 ico feed32"></i></a>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <a href="https://br.linkedin.com/in/rafastavares"><i class="soc_32 ico linkedin32"></i></a>
            </div>

        </p>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <p class="lead" style="text-align:center;">{{ site.description }}</p>
        </div>
    </div>
</div>