---
layout: default
title: Blog
---




<ul class="tablist" role="tablist">
    <li id="tab1" class="tablist__tab is-active" aria-controls="panel1" aria-selected="true" role="tab" tabindex="0">Events</li>
    <li id="tab2" class="tablist__tab" aria-controls="panel2" aria-selected="false" role="tab" tabindex="0">Personal</li>
    <li id="tab3" class="tablist__tab" aria-controls="panel3" aria-selected="false" role="tab" tabindex="0">Tools</li>
    <li id="tab4" class="tablist__tab" aria-controls="panel4" aria-selected="false" role="tab" tabindex="0">Studies</li>
</ul>

<div id="panel1" class="tablist__panel" aria-labelledby="tab1" aria-hidden="false" role="tabpanel">
    <h3>Events</h3> 
    <div class="posts">
        {% for post in site.posts %}
            {% if post.category == "Events" %}
        <hr>
        <div class="post">
            <h1 class="post-title">
              <a href="{{ site.url }}{{post.url}}">
                {{ post.title }} 
              </a>
            </h1>
            <span class="post-date">{{ post.date | date_to_string }} / {{ post.category }}</span> {{ post.excerpt }}
            <h6><a href="{{ site.url }}{{post.url}}">Read more...</a></h6>
        </div>
            {% endif %} 
        {% endfor %}
    </div> 
</div>
<div id="panel2" class="tablist__panel is-hidden" aria-labelledby="tab2" aria-hidden="true" role="tabpanel">
    <h3>Personal</h3>
    <div class="posts">
        {% for post in site.posts %}
            {% if post.category == "Personal" %}
        <hr>
        <div class="post">
            <h1 class="post-title">
      <a href="{{ site.url }}{{post.url}}">
        {{ post.title }} 
      </a>
    </h1>
            <span class="post-date">{{ post.date | date_to_string }} / {{ post.category}}</span> {{ post.excerpt }}
            <h6><a href="{{ site.url }}{{post.url}}">Read more...</a></h6>
        </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div id="panel3" class="tablist__panel is-hidden" aria-labelledby="tab3" aria-hidden="true" role="tabpanel">
    <h3>Tools</h3>
    <div class="posts">
        {% for post in site.posts %} {% if post.category == "Tools" %}
        <hr>
        <div class="post">
            <h1 class="post-title">
      <a href="{{ site.url }}{{post.url}}">
        {{ post.title }} 
      </a>
    </h1>
            <span class="post-date">{{ post.date | date_to_string }} / {{ post.category}}</span> {{ post.excerpt }}
            <h6><a href="{{ site.url }}{{post.url}}">Read more...</a></h6>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>

<div id="panel4" class="tablist__panel is-hidden" aria-labelledby="tab4" aria-hidden="true" role="tabpanel">
    <h3>Studies</h3>
    <div class="posts">
        {% for post in site.posts %} {% if post.category == "Studies" %}

        <hr>
        <div class="post">
            <h1 class="post-title">
      <a href="{{ site.url }}{{post.url}}">
        {{ post.title }} 
      </a>
    </h1>
            <span class="post-date">{{ post.date | date_to_string }} / {{ post.category}}</span> {{ post.excerpt }}
            <h6><a href="{{ site.url }}{{post.url}}">Read more...</a></h6>
        </div>
     {% endif %} {% endfor %}
    </div>
</div>

<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/blog/page{{paginator.next_page}}">Anterior</a>
  {% else %}
    <span class="pagination-item older">Anterior</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/blog/">Novo</a>
    {% else %}
      <a class="pagination-item newer" href="/blog/page{{paginator.previous_page}}">Novo</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Novo</span>
  {% endif %}
</div>
-->
<script>
    $(function () {

        // Cache selectors
        var tabs = $('.tablist__tab'),
            tabPanels = $('.tablist__panel');

        tabs.on('click', function () {

            // Cache selectors
            var thisTab = $(this),
                thisTabPanelId = thisTab.attr('aria-controls'),
                thisTabPanel = $('#' + thisTabPanelId);

            // De-select all the tabs
            tabs.attr('aria-selected', 'false').removeClass('is-active');

            // Select this tab
            thisTab.attr('aria-selected', 'true').addClass('is-active');

            // Hide all the tab panels
            tabPanels.attr('aria-hidden', 'true').addClass('is-hidden');

            // Show this tab panel
            thisTabPanel.attr('aria-hidden', 'false').removeClass('is-hidden');

        });

        // Add enter key to the basic click event
        tabs.on('keydown', function (e) {

            var thisTab = $(this);

            if (e.which == 13) {
                thisTab.click();
            }

        });

    });
</script>