.wrapper {
  width: 94%;
  margin: 0 auto;
  max-width: 800px;
}

.tablist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tablist__tab {
  display: inline-block;
  margin: 0 0.5em 0 0;
  padding: 0.5em;
  background-color: #f0f0f0;
  cursor: pointer;
}

.tablist__tab.is-active {
  font-weight: 700;
  background-color: #dedede;
}

.tablist__panel {
  border: 1px solid #dedede;
  padding: 0 1em;
}

.tablist__panel.is-hidden {
  display: none;
}